

body {
    font-family: Lato;
}

html, body {
    height: 100%;
    overflow: auto;
}

h1 {
    font-family: "Arvo";
    font-size:35px;
    color: #464646;
    margin: 0px;
    padding: 0px;
    margin-left: 20px;
}
.info{
    margin-left: 20px;
}
.tile {
    stroke: #FFF;
    stroke-width: 4;
}

.yeartext, .tilestext, .brushtext{
    text-anchor:middle;
    font-size: 16px;
    fill: #565656;
    stroke-width: 0.1px;
    /*stroke: #e5e5e5;*/
}

.electoralVotesNote, .votesPercentageNote{
    text-anchor:middle;
    font-size: 24px;
}

.electoralVoteText, .votesPercentageText{
    font-size: 35px;
}
.end{
    text-anchor:end;
}

.nomineeInfoText{
    font-size: 36px;
}
.Axis{
    stroke: #eee;
    stroke-width: 4;
}
.content {
    display: inline-block;
    width: 75%;
}

.sideBar {
    /* display: inline-block; */
    width: 25%;
    float: right;
    box-sizing: border-box;
}

.electoralVotes{
    stroke: #eee;
}

.middlePoint{
    stroke: #eee;
    pointer-events: none;
}

.fullView{
    display: inline-block;
    width: 100%;
}

.yearChart{
    stroke: #FFF;
}

.lineChart{
    stroke:#000;
    stroke-dasharray: 4;
}

.republican{
    fill: #de2d26;
    color: #de2d26;
    text-anchor:end;
}

circle.republican:active {
    fill: #FF6666;
}

.democrat{
    fill: #3182bd;
    text-anchor:start;
    color: #3182bd;
}

circle.democrat:active {
    fill: #3399FF;
}

.independent{
    fill: #45AD6A;
    color: #45AD6A;
    text-anchor:start;
}

.votesPercentage{
    stroke: #eee;
}

.brush .selection {
    fill-opacity: .5;
}

.circle-hover {
    stroke: #999;
    stroke-width: 0;
    transition: stroke-width .3s, fill .1s;
}

.circle-hover:hover {
    stroke-width: 4;
}

.highlighted{
    stroke: #404040;;
    stroke-width: 4;
}

.selected {
    stroke: #404040;
    stroke-width: 4;
    /* r: 25px; */
}

h2{
    -webkit-margin-before: 5px;
    -webkit-margin-after:  5px;
}
.d3-tip {
    /*line-height: 5;*/
    padding-left: 10px;
    padding-right: 10px;
    min-width: 400px;
    border-style: groove;
    /*padding: 12px;*/
    background: #FFFFFF;
    color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    pointer-events: none;
}
.tooltip-title{
    font-size:18px;
    font-family: "Arial Black";

}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    /*box-sizing: border-box;*/
    display: inline;
    font-size: 10px;
    width: 100%;
    /*line-height: 1;*/
    color: rgba(0, 0, 0, 0.8);
    position: relative;
    pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
    content: "\25BC";
    /*margin: -1px 0 0 0;*/
    top: 100%;
    left: 0;
    text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
    content: "\26A0";
    /*margin: -4px 0 0 0;*/
    top: -800px;
    left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
    content: "\25B2";
    /*margin: 4px 0 1px 0;*/
    top: -8px;
    left: 1481px;
    text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
    content: "\25B6";
    /*margin: -4px 0 0 -1px;*/
    top: 50%;
    left: 100%;
}

h3{
    text-anchor:middle;
    font-size: 32px;
}

.hover-pointer {
    cursor: pointer;
}

.middle-anchor {
    text-anchor: middle;
}

#tip {
    position: fixed;
    width: max-content;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    background-color: white;
    padding: 20px;
}

.hidden {
    display: none;
}

.vote-percent-tip {
    padding-left: 20px;
    margin: 0;
}

.vote-percent-tip li {
    margin-bottom: 10px;
}

.vote-percent-tip li:last-child {
    margin-bottom: 0;
}

#legend text {
    font-size: 14px;
}

#tiles text {
    font-size: 12px;
    pointer-events: none;
}

.tileTip p {
    font-size: 18px;
    margin: 0;
}

.tileTip p:nth-child(2) {
    font-size: 12px;
    margin: 5px 0;
    color: gray;
}

.tileTip ul {
    margin: 0;
    padding-left: 15px;
    font-size: 12px;
}

.tileTip ul li {
    margin-bottom: 5px;
}

.tileTip ul li:last-child {
    margin-bottom: 0px;
}

.brush-states-wrapper {
    border: 1px solid #DCDFE6;
    border-radius: 8px;
}

.brush-states-wrapper p {
    border-bottom: 1px solid #DCDFE6;
    padding: 15px 0 15px 40px;
    margin: 0;
}

.brush-states-wrapper p:last-child {
    border-bottom: none;
}

#brush-selection {
    padding: 0 20px 20px 20px;
}