.select-wrapper {
  border-radius: 8px;
  border: 1px solid #DCDFE6;
  padding: 0.5rem 1rem;
  width: max-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  transition: all .3s;
  color: #73767a;
  position: relative;
  user-select: none;
  box-sizing: border-box;

  &:hover {
    border-color: #b1b3b8;
  }

  &.open {
    border-color: #409EFF;
  }

  .arrow {
    color: #DCDFE6;
    transform: rotate(0);
    transition: all .3s;
    
    &.open {
      transform: rotate(180deg);
    }
  }

  ul {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    left: 0;
    list-style: none;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    padding: 0.5rem;
    color: black;
    transform-origin: top;
    transition: all .2s;
    transform: scaleY(1);

    li {
      padding: 0.5rem 1rem;

      &:hover {
        color: #409EFF;
      }
    }

    .selected {
      border-radius: 8px;
      background-color: #ECF5FF;
      font-weight: bold;
    }
  }

  .hidden {
    transform: scaleY(0);
  }
}