@keyframes pending {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes switch-color {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: rgba(255, 255, 255, .9);
  }
}

.pending-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: switch-color .3s forwards;

  .spinner {
    font-size: 2rem;
    color: #409EFF;
    animation: pending 1s infinite forwards linear;
  }
}