:root {
  font-size: 16px;
}

html,
body,
#app {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

svg {
  text {
    dominant-baseline: hanging;
  }
}

.republican {
  fill: #de2d26;
  color: #de2d26;
  text-anchor: end;
}

.democrat {
  fill: #3182bd;
  text-anchor: start;
  color: #3182bd;
}

.independent {
  fill: #45AD6A;
  color: #45AD6A;
  text-anchor: start;
}

.tooltip {
  background-color: white;
  box-shadow: 0 0 30px rgba(0, 0, 0, .25);
  border-radius: 8px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  h3, p, ul, li {
    margin: 0;
  }

  ul {
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .ev {
    color: gray;
  }
}

.animate {
  transition: all 1s;
}