html, body {
    margin: 0;
}

.republican{
    fill: #de2d26;
    color: #de2d26;
    text-anchor: end;
}

.democrat{
    fill: #3182bd;
    text-anchor: start;
    color: #3182bd;
}

.independent{
    fill: #45AD6A;
    color: #45AD6A;
    text-anchor: start;
}